---
import Banner from "../components/Banner.astro";
import ProjectOverview from "../components/ProjectOverview.astro";
import AppLayout from "../layouts/AppLayout.astro";
import { supabase } from "../lib/supabase";

const { data, error } = await supabase
  .from("projects")
  .select("id, name, description, users(id, name, avatar, username)");
if (error) throw error;
console.log({ data });
// TODO: Handle empty return
---

<AppLayout title="All Projects">
  <Banner>
    <div class="page-grid">
      <div class="wrapper">
        <h1>All Projects</h1>
      </div>
    </div>
  </Banner>
  <div class="page-grid">
    <div class="col-start-3 col-span-8">
      <div class="flex flex-col gap-10 mb-20">
        <!-- TODO: Dynamically display Project Overview information -->
        {
          data.map((project) => (
            <ProjectOverview
              project={project}
              user={project.users}
              isAvatarShowing={true}
              isProfileDetailsShowing={true}
            />
          ))
        }
      </div>
    </div>
  </div>
  <div class="text-black bg-yellow-400 p-10">{JSON.stringify(data)}</div>
</AppLayout>
