---
import Location from "./Icons/Location.astro";
import GitHub from "./Icons/GitHub.astro";
import Link from "./Icons/Link.astro";
import X from "./Icons/X.astro";

const { user } = Astro.props;
---

<div
  class="grid grid-cols-2 gap-x-5 gap-y-2 font-sans text-mountainMist font-bold text-sm mb-8"
>
  {
    user?.location && (
      <div class="with-icon">
        <Location />
        {user.location}
      </div>
    )
  }
  {
    user?.github && (
      <a
        href={`https://github.com/${user.github}`}
        class="with-icon hover:text-springBud"
        target="_blank"
        rel="noreferrer"
      >
        <GitHub />
        <span>{user.github}</span>
      </a>
    )
  }
  {
    user?.website && (
      <a
        href={user.website}
        class="with-icon hover:text-springBud"
        target="_blank"
        rel="noreferrer"
      >
        <Link />
        {user.website}
      </a>
    )
  }
  {
    user?.twitter && (
      <a
        href={`https://twitter.com/${user.twitter}`}
        class="with-icon hover:text-springBud"
      >
        <X />@{user.twitter}
      </a>
    )
  }
</div>
